<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/imports :: include">


</head>
<body >
<nav th:insert="fragments/imports :: navbar"></nav>
<div class="to-be-cliped"></div>
<div class="container space-10 " style="text-align: center">
    <span class="alert alert-success" th:if="${status}"> Operatiunea s-a desfasurat cu success!</span>
    <span class="alert alert-danger" th:unless="${status}">Operatiunea nu s-a putut finaliza. Va rugam sa reincercati.</span><br/>
    <a th:href="'index'"><button class="btn btn-outline-secondary space-5">Mergeti la pagina principala</button></a>
</div>

<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>