<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/imports :: include">


</head>
<body>
<nav th:insert="fragments/imports :: navbar"></nav>
<div class="container space-10">
    <div class="row">
        <div class="col-2">
            <a th:href="@{'/teme/nou'}">
                <button class="btn btn-outline-secondary " >Adauga o tema</button>
            </a>
        </div>
        <div class="col" style="text-align: center">
            <!-- @thymesVar id="tema" type="com.neagumihai.proiectpibddata.model.Tema"-->
            <form th:object="${tema}" th:action="@{'/teme/search'}" method="get">
                <input type="text" class="space-1" th:field="*{numeTema}" placeholder="Numele temei"/>
                <input type="text" class="space-1" th:field="*{numeCulegere}" placeholder="Numele culegerii">
                <input type="number" class="space-1" th:field="*{numarTema}" placeholder="Numarul temei">
                <select class="form-control space-1"  th:field="*{dificultate}">
                    <option th:each="dificultate : ${T(com.neagumihai.proiectpibddata.model.Dificultate).values()}"
                            th:value="${dificultate}"
                            th:text="${dificultate}"></option>
                    <option th:value="null"
                            th:text="null"></option>
                </select>
                <input type="submit" class="btn btn-outline-secondary space-1" value="Cauta">

            </form>
        </div>
    </div>

    <hr/>
</div>
<div class="container space-5" th:insert="fragments/imports :: containerTeme">

    </div>
    <div th:if="${!search}" th:insert="fragments/imports :: nextPage">

    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>
</body>
</html>