<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/imports :: include">


</head>
<body>
<nav th:insert="fragments/imports :: navbar"></nav>
<div class="container space-10">
<!-- @thymesVar id="tema" type="com.neagumihai.proiectpibddata.model.Tema"-->
    <form th:object="${tema}"  th:action="@{'/teme/save'}" method="post">
        <div th:if="${#fields.hasErrors('*')}" style="text-align: center" class="alert alert-danger">
            <p>Corecteaza erorile</p>
        </div>
        <input type="hidden" th:field="*{id}">
        <div class="row justify-content-center">
            <div class="col-5" style="box-shadow: 1px 5px 20px 5px #05386B; text-align: center">
                <div th:class="form-group" >
                    <label class="text-color" style="margin-top: 10px">Numele Temei:</label><br/>
                    <div class="container-fluid" th:if="${#fields.hasErrors('numeTema')}">
                        <div class="row" th:each="err : ${#fields.errors('numeTema')}">
                            <div class="col">
                                <span th:text="${err}" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control " th:errorclass="is-invalid" th:field="*{numeTema}"><br/>
                </div>
                <div th:class="form-group" >
                    <label class="text-color" style="margin-top: 10px">Numele Culegerii:</label><br/>
                    <div class="container-fluid" th:if="${#fields.hasErrors('numeCulegere')}">
                        <div class="row" th:each="err : ${#fields.errors('numeCulegere')}">
                            <div class="col">
                                <span th:text="${err}" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control " th:errorclass="is-invalid" th:field="*{numeCulegere}"><br/>
                </div>
                    <label class="text-color" style="margin-top: 10px">Numarul Temei:</label><br/>
                    <div class="container-fluid" th:if="${#fields.hasErrors('numarTema')}">
                        <div class="row" th:each="err : ${#fields.errors('numarTema')}">
                            <div class="col">
                                <span th:text="${err}" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control " th:errorclass="is-invalid" th:field="*{numarTema}"><br/>
                <div th:class="form-group" >
                    <label class="text-color" style="margin-top: 10px">Cerinta Temei:</label><br/>
                        <div class="container-fluid" th:if="${#fields.hasErrors('cerintaTema')}">
                            <div class="row" th:each="err : ${#fields.errors('cerintaTema')}">
                                <div class="col">
                                    <span th:text="${err}" class="text-danger"></span><br>
                                </div>
                            </div>
                        </div>
                    <input type="text" class="form-control " th:errorclass="is-invalid" th:field="*{cerintaTema}"><br/>
                </div>
                <div th:class="form-group" >
                    <label class="text-color" style="margin-top: 10px">Numar Puncte:</label><br/>
                        <div class="container-fluid" th:if="${#fields.hasErrors('puncte')}">
                            <div class="row" th:each="err : ${#fields.errors('puncte')}">
                                <div class="col">
                                    <span th:text="${err}" class="text-danger"></span><br>
                                </div>
                            </div>
                        </div>
                    <input type="text" class="form-control " th:errorclass="is-invalid" th:field="*{puncte}"><br/>
                </div>
                <div th:class="form-group" >
                    <label class="text-color" style="margin-top: 10px">Dificultate:</label><br/>
                    <div class="container-fluid" th:if="${#fields.hasErrors('dificultate')}">
                        <div class="row" th:each="err : ${#fields.errors('dificultate')}">
                            <div class="col">
                                <span th:text="${err}" class="text-danger"></span><br>
                            </div>
                        </div>
                    </div>
                    <select class="form-control" th:errorclass="is-invalid" th:field="*{dificultate}">
                        <option th:each="dificultate : ${T(com.neagumihai.proiectpibddata.model.Dificultate).values()}"
                                th:value="${dificultate}"
                                th:text="${dificultate}"></option>
                    </select><br/>
                </div>
                <input type="submit" class="btn btn-outline-secondary" value="Creaza" style="margin-bottom: 10px">


            </div>
        </div>


    </form>
</div>
<footer th:insert="fragments/footer :: footer" ></footer>
</body>
</html>