<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/imports :: include">


</head>
<body style="overflow: hidden">
<nav th:insert="fragments/imports :: navbar"></nav>
<div class="to-be-cliped"></div>
    <div class="container-fluid space-10">
        <div class="row ">
            <div class="col">
                <div th:insert="fragments/imports :: casetaElev"></div>
            </div>
            <div class="col space-1 insideFrame" >

                <div class="container" th:if="${!#httpServletRequest.getRequestURI().contains('adauga')}" th:insert="fragments/imports :: containerTemePack">

                </div>
                <div class="container" th:if="${#httpServletRequest.getRequestURI().contains('adauga')}" th:insert="fragments/imports :: containerTeme">

                </div>
                <div th:if="${#httpServletRequest.getRequestURI().contains('adauga')}"
                     th:insert="fragments/imports :: nextPage"></div>
            </div>
        </div>
    </div>

<footer th:insert="fragments/footer :: footer"></footer>

</body>
<script >
    $(function() {
        $(window).on('scroll', function() {
            $(document).scrollTop(0);
        });
    });
    $(document).ready(function () {
        $('.navbar').addClass('active');
    });
</script>
</html>